.movie-details {
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.932);
  background-color: #333;
  background-repeat: no-repeat;
  //background-size: cover;
  background-position: center center;

  padding: 0 2rem;

  header {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    height: 20%;

    .go-back {
      cursor: pointer;
      font-size: 2rem;
    }

    .title {
      font-size: 2.5rem;
      justify-self: center;

      .year {
        color: #ccc;
        font-size: 1.3rem;
      }
    }
  }

  main {
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: start;
    gap: 3rem;

    .poster {
      width: 100%;
      min-width: 200px;
      height: auto;
    }

    .details {
      .title {
        margin-bottom: 2rem;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1rem;
        margin-bottom: 2rem;
      }
    }

    .actors {
      .title {
        margin-bottom: 2rem;
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .actor {
        margin: 0.5rem 0;
        font-size: 0.8rem;

        img {
          width: 55px;
          height: 55px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  main {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .mainContentContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Mobil eller mindre plattor*/

@media screen and (max-width: 768px) {
  .mainContentContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
