.field {
  position: absolute;
  right: 4.5rem;
  width: 0%;
  height: 2.5rem;
  border-radius: 4px;
  margin-right: 0;
  background-color: rgba(255, 255, 255, 255);
  transition: width 1.5s;
  z-index: 1;
}

.field-active {
  width: 20rem;
}

.field input {
  width: 100%;
  height: 2.5rem;
  position: relative;
  padding-left: 5px;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input+label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

.field p.predicted {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #e0e0e0;
  opacity: 1;
  pointer-events: none;
}

.searchButton {
  background-color: #e0e0e08e;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  pointer-events: all;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #e0e0e0e3
}