ul {
  list-style-type: none;
  padding: 0;
  color: rgb(228, 228, 228);
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
}

li {
  font-size: 1.2rem;
  cursor: pointer;
  /* height: 3rem;
   */
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
}

li:hover {
  filter: brightness(200%);
}

.active {
  background-color: rgba(255, 255, 255, 0.164);
  color: white;
  border-radius: 2px;
}

hr {
  width: 4rem;
  margin: 1.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid rgba(228, 228, 228, 0.808);
}
