ul {
  list-style-type: none;
  padding: 0;
  color: rgba(228, 228, 228, 0.808);
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
}

li {
  font-size: 0.9rem;
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
}

li:hover {
  color: rgb(228, 228, 228);
}

.active {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 2px;
}

hr {
  margin-bottom: 1.5rem;
  border-color: rgba(228, 228, 228, 0.164);
}
