.cast-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  align-items: center;
  gap: 1rem;

  .actor {
    margin: 1rem 0;
    font-size: 0.8rem;
    position: relative;

    .profile-image {
      width: 100%;
      object-fit: cover;  
      margin-left: auto;
    }

    .name {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.6);
      padding: .5rem;
      font-size: .8rem;
      text-align: center;
    }
  }
  
  .view-more {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
  }
}