.trailer-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
  grid-template-rows: repeat(auto-fit, minmax(5rem, 12rem));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
