.movie-card {
  /* background-color: white; */
  height: 100%;
  width: 100%;
  /* min-height: 17rem; */
  position: relative;
  border: 1px solid black;
}

.movie-card img {
  object-fit: cover;
}

.movie-card p {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.card-overlay:hover {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

button {
  width: 70%;
  height: 14%;
  background-color: rgba(0, 0, 0, 0.267);
  border: 2px solid rgba(255, 255, 255, 0.76);
  color: white;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button:hover {
  background-color: #2f3a46;
  cursor: pointer;
}

button:focus {
  outline: none;
}