@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  /* background: rgb(44,53,49);
  background: linear-gradient(126deg, #161e27 0%, #232f3d 100%); */
  /* background-color: #485461;
  background-image: linear-gradient(315deg, #2f3a46 0%, #242b31 74%); */
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #8096a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #8096a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Big screen */

@media screen and (min-width: 1500px) {
  .mainContentContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Ipad */

@media screen and (max-width: 768px) {
}

/* Mobile */

@media screen and (max-width: 320px) {
}
