@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  /* background: rgb(44,53,49);
  background: linear-gradient(126deg, #161e27 0%, #232f3d 100%); */
  /* background-color: #485461;
  background-image: linear-gradient(315deg, #2f3a46 0%, #242b31 74%); */
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
}

a {
  text-decoration: inherit;
  color: inherit;
}

.color {
  color: #d1e8e2;
  color: #2c3531;
  color: #d9b08c;
  color: #ffcb9a;
  color: #116466;
}

/* Big screen */

@media screen and (min-width: 1500px) {
  .mainContentContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Ipad */

@media screen and (max-width: 768px) {}

/* Mobile */

@media screen and (max-width: 320px) {}